<div class="view-page__content">
  <div class="view-page__cover" style="background-image: url(http://static.tvmaze.com/uploads/images/medium_portrait/165/414871.jpg)"></div>
  <div class="view-page__description">
    <div class="view-page__text">
      <p>Description:</p>
      Jack Ryan is a drama featuring Tom Clancy's popular hero Jack Ryan billed as a new contemporary take on the character in his prime as a CIA analyst/operative using the novels as source material.
    </div>
  </div>
</div>
<div class="view-page__info">
    <p>Streamed on: <span>Amazon Prime (2018 - now)</span></p>
    <p>Schedule: <span> Fridays (60 min)</span></p>
    <p>Status: <span>Running</span></p>
    <p>Show Type: <span>Scripted</span></p>
    <p>Genres: <span>Drama Action Espionage</span></p>
</div>
